:root {
	--color-blue-800: #0b485b;
	--color-blue-400: #19c1ce;
	--color-blue-200: #07e5eb;

	--color-orange-500: #f2bf4e;
	--color-orange-300: #f4ca6d;

	--color-black: #000;

	--color-gray-900: #212429;
	--color-gray-600: #7e8a98;
	--color-gray-500: #97a1ac;
	--color-gray-300: #cfd3d8;
	--color-gray-100: #f1f3f5;

	--color-white: #fff;
}
