/*********************************************************** GENERIC STYLES */

h1,
h2,
h3 {
	font-weight: bolder;
}

h1,
h2,
h3,
h4 {
	font-family: "Darker Grotesque", sans-serif;
}

h1,
.h-lg {
	font-size: 40px;
	line-height: 100%;

	@media (min-width: 600px) {
		font-size: 56px;
	}
}

h2,
.h-md {
	font-size: 32px;
	line-height: 100%;

	@media (min-width: 600px) {
		font-size: 40px;
	}
}

h3,
.h-sm {
	font-size: 24px;
	line-height: 110%;

	@media (min-width: 600px) {
		font-size: 32px;
	}
}

h4,
.h-xs {
	font-size: 20px;
	line-height: 110%;
	font-weight: bolder;

	@media (min-width: 600px) {
		font-size: 24px;
	}
}

h5,
.s-sm {
	font-size: 14px;
	line-height: 140%;
}

h6,
.s-xs {
	font-size: 14px;
	line-height: 120%;
}

p,
em,
strong,
ul,
li {
	font-family: "Nunito Sans", sans-serif;
	list-style: none;
}

.b-lg {
	font-size: 20px;
	line-height: 100%;
}

.b-md {
	font-size: 16px;
	line-height: 100%;
}

.b-sm {
	font-size: 14px;
	line-height: 100%;
}

.l-wrapper {
	min-width: 100vw;
}

.l-wrapper__content {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	padding: 0 108px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/*********************************************************** GENERIC STYLES - END */

/*********************************************************** HEADER */

.c-header {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.c-header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 24px 0;
}

.c-header a:hover {
	color: var(--color-blue-400);
}

.c-logo {
	width: 174px;
}

.c-navmenu > ul {
	display: flex;
	align-items: center;
	gap: 64px;
	font-weight: bold;
}

.l-buttons {
	display: flex;
}

.c-header__content__buttons {
	display: flex;
	gap: 1rem;
}

/*********************************************************** HEADER - END */

/*********************************************************** DROPDOWN MENU */

.c-dropdown {
	position: relative;
	display: inline-block;
}

.c-dropdown__button {
	padding: 16px;
	font-size: 16px;
	border: none;
}

.c-dropdown__content {
	padding: 24px;
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	background-color: var(--color-white);
}

.c-dropdown__content a {
	color: black;
	text-decoration: none;
	display: block;
	display: flex;
}

.c-dropdown:hover .c-dropdown__content {
	display: flex;
	width: 800px;
}

.c-dropdown__content__session {
	display: flex;
	flex-direction: column;
	margin-right: 1.6rem;
}

.c-dropdown__content__session h4 {
	color: var(--color-blue-400);
	text-transform: uppercase;
}

.c-dropdown__content__session h4::after {
	content: "";
	display: block;
	margin-top: 16px;
	width: 100%;
	height: 1px;
	background-color: var(--color-gray-300);
}

.c-dropdown__content__session ul {
	margin-top: 16px;
	display: flex;
	flex-direction: column;

	align-items: flex-start;
}

.c-dropdown__content__session ul li {
	width: 100%;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 100%;
	font-weight: normal;
}
/*********************************************************** DROPDOWN MENU - END */

/*********************************************************** HEADER BUTTONS */

button.c-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	outline: none;
	font-family: "Nunito Sans", sans-serif;
	color: var(--color-black);
	background-color: var(--color-white);
	font-weight: 800;
	text-transform: uppercase;
	padding: 1rem 1.25rem;
	height: 40px;
	border: 3px solid var(--color-black);
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.c-button--primary {
	border: 3px solid var(--color-blue-400);
	background-color: var(--color-blue-400);
}

button.c-button--primary img {
	margin-left: 0.5rem;
}

button.c-button::after {
	content: "";
	display: block;
	position: absolute;
	top: calc(100% + 2px);
	left: calc(0% - 2px);
	width: calc(100% + (2 * 2px));
	border-top: 4px solid #000;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	height: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
button.c-button:hover {
	filter: brightness(1.05);
	transform: translate(0, 0.25em);
}

button.c-button:active {
	transform: translate(0em, 0.75em);
}

button.c-button:active::before {
	transform: translate3d(0, 0, -1em);
}

/*********************************************************** HEADER BUTTONS - END */
